In [49]:
import requests
import json
import pandas as pd
import numpy as np
from datetime import datetime
from config import api_key

In [50]:
month_end = ['31', '28', '31', '30', '31', '30', '31', '31', '30', '31', '30', '31']
year = ['2013', '2014', '2015', '2016', '2017', '2018']
month = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
end_month_list = [month[i] + '-' + month_end[i] for i in range(0,12)]
begin_month_list = [month[i] + '-' + '01' for i in range(0,12)]
end_date_list = [i+ '-' + j for i in year for j in end_month_list]
begin_date_list = [i+ '-' + j for i in year for j in begin_month_list]

In [56]:
date_w = []
maxtempC = []
mintempC = []
precip_total = []
humidity_avg = []
for num in range(len(begin_date_list[:-6])):
    city = 'Awasa,ethiopia'
    date = begin_date_list[num]
    end_date = end_date_list[num]


    Base_Url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
    params = {
    'key': api_key,
    'q': city,
    'format': 'json',
    'date': date,
    'enddate': end_date
    }

    Response = requests.get(Base_Url, params=params)
    print(Response)
    Weather_Bulk = Response.json()
    #print(Weather_Bulk)

    for weather in Weather_Bulk['data']['weather']:
        date_w.append(weather['date'])
        maxtempC.append(weather['maxtempC'])
        mintempC.append(weather['mintempC'])
        precip = 0
        humidity = 0
        i = 0
        for w in weather['hourly']:
            i += 1
            precip += float(w['precipMM'])
            humidity += float(w['humidity'])
        precip_total.append(precip)
        humidity_avg.append(humidity/i)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [429]>

KeyError: 'weather'

In [57]:
print(len(date_w))
print(len(maxtempC))

print(Weather_Bulk)

820
820
{'data': {'error': [{'msg': 'API key has reached calls per day allowed limit.'}]}}

In [53]:
weather_dict = {'Date': date_w, 'Max Temperature C': maxtempC, 'Min Temperature C': mintempC, 'Precipitation Total': precip_total, 'Humidity Avg': humidity_avg}
weather_DF = pd.DataFrame(weather_dict)
weather_DF.head()

,Date,Max Temperature C,Min Temperature C,Precipitation Total,Humidity Avg
0,2013-01-01,26,22,0.8,82.250
1,2013-01-02,27,23,0.3,81.125
2,2013-01-03,26,22,2.9,86.625
3,2013-01-04,27,23,1.7,81.875
4,2013-01-05,26,23,12.1,84.500

In [54]:
path = '../Resources/Data/Weather_data/weather_data_' + city + '_2013_2018.csv'
weather_DF.to_csv(path)